{% extends 'layout.html' %} {% block content %}
<div class="timeline">
  <div class="followings half">
    <h2>팔로잉 목록</h2>
    {% if user.Followings %} {% for following in user.Followings %}
    <div>
      <span class="following-nick">{{following.nick}}</span>
      <button class="unfollow">unfollow</button>
    </div>
    {% endfor %} {% endif %}
  </div>
  <div class="followers half">
    <h2>팔로워 목록</h2>
    {% if user.Followers %} {% for follower in user.Followers %}
    <div>{{follower.nick}}</div>
    {% endfor %} {% endif %}
  </div>
</div>
<script>
  const unfollowBtns = document.querySelectorAll('.unfollow');
  unfollowBtns.forEach((btn) => {
    btn.addEventListener('click', () => {
      const userNick =
        btn.parentNode.querySelector('.following-nick').textContent;
      if (confirm('팔로우를 취소하시겠습니까?')) {
        axios
          .post(`/user/${userNick}/unfollow`)
          .then(() => {
            location.reload();
          })
          .catch((error) => {
            console.error(error);
          });
      }
    });
  });
</script>
{% endblock %}
